@media all and (max-width: 1024PX) {
    .pokedex {
        height: 900px;
        width: 100%;
        display: grid;
        grid-template-areas: 
        "description"
        "images";
        grid-template-rows: 30% 70%;
        background-image: url("D:\Proyectos\Portfolio\portfolio\public\imagenes\pr3.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .pokedex-container {
        grid-area: description;
        width: 100%;
        display: grid;
        grid-template-rows: 30% 70%;
        justify-items: center;
        align-items: center;
    }

    .pokedex-container h1 {
        font-size: calc(4em + 2vw);
        color: #2f5881;
    }

    .pokedex-text {
        height: 100%;
        width: 90%;
        color: #2f5881;
        font-size: calc(1em + 2vw);
    }
    

    .images-pokedex {
        grid-area: images;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .images-pokedex img {
        object-fit: contain;
        width: 35%;
        border-radius: 10px;
        transition: transform .5s;
    }


    .gap-imagenes {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

}