* {
    padding: 0;
    margin: 0;
}

@media all and (max-width: 1024PX) {
    .pr2 {
        height: 900px;
        background-image: url("D:\Proyectos\Portfolio\portfolio\public\imagenes\projects.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: grid;
        grid-template-rows: 30% 60%;
        color: antiquewhite;
    }

    .pr2-project {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 100%;
        align-items: center;
    }

    h1{
        font-size: calc(3em + 2vw);
    }

    p{
        font-size: calc(1em + 2vw);
    }

    .images-ml{
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
        justify-content: center;
    }

    .images-ml img{
        width:300px;
        border-radius: 20px;
    }

}
